#img-bg{
    background-image: url(https://i.pinimg.com/564x/b4/c3/0d/b4c30d373e2ee2000f1ddf60e83c75d3.jpg);
    min-height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}